<div class="card" style="width: 18rem;">
  <div class="card-header d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="card-title">{{game.name}}</h3>
      <p class="card-title">№{{game.id}}</p>
    </div>
    <p *ngIf="this.router.url === '/games'" class="card-cost align-self-end">{{game.cost}}$</p>
  </div>
  <div class="card-body">
    <p class="card-text">{{game.description}}</p>
    <div *ngIf="this.router.url === '/library'" class="button-group row">
      <button class="btn btn-sm btn-primary col">Download</button>
      <button class="btn btn-sm btn-secondary col">Share</button>
    </div>
    <button *ngIf="this.router.url === '/games'" class="btn btn-sm btn-primary w-100" (click)="addToLibrary(game)">Add to Library</button>
  </div>
  <div class="card-footer">
    <p class="card-tag">#{{game.tag}}</p>
  </div>
</div>
