.friends-wrapper {
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.card-body {
  justify-content: space-between;
  align-items: center;
}

.card-title {
  margin-bottom: 0;
  font-size: 1rem;
}

.btn-primary {
  background-color: #6C69FF;
  border-color: #6C69FF;

  &:hover {
    background-color: #7a30c2;
    border-color: #7a30c2;
  }
}

.btn-danger {
  background-color: #FF6F6F;
  border-color: #FF6F6F;

  &:hover {
    background-color: #e56363;
    border-color: #e56363;
  }
}
