$form-range-thumb-bg: red !important;
$form-range-thumb-active-bg: red !important;
.form-range {
  color: red;
}

.sidebar-wrapper {
  border-left: solid .5px black;
  padding: 0 10px;
  height: 30%;
}
